<?php

/*

Please copy or rename this file into tests_config.php and then edit it. Without properly configured tests_config.php it's not possible to test all classes!

*/

require_once __DIR__ . '/vendor/autoload.php';

Tester\Environment::setup();
date_default_timezone_set('Europe/Prague');

$config = array(
	'driver' => 'mysql',
	'host' => 'localhost',
	'username' => 'username',
	'password' => 'secretPassword',
	'charset' => 'utf8',
	'database' => 'sakuraphp',
);

dibi::connect($config);